@use '../../assets/styles' as *;

//atribuição de variáveis
//

//css do componente original
// @import "~vuetify/src/components/VBtn/VBtn.sass";

//css personalizado
.v-btn {
    padding: 7px 14px;
    border-radius: 28px;
    background-color: $transparent !important;
    box-shadow: 0 0 0 0;
    transition: ease-in-out .2s;

    &:hover {
        background-color: $transparent-cyan-600 !important;
    }

    &::v-deep .v-btn__content {
        color: $white;
        text-transform: capitalize;
    }

    &::v-deep .v-ripple__animation {
        color: $cyan-600;
    }

    .v-progress-circular {
        color: $cyan-600;
    }

    &.alerta {
        &:hover {
            background-color: $transparent-red-500 !important;
        }

        &::v-deep .v-btn__content,
        &::v-deep .v-ripple__animation,
        .v-progress-circular {
            color: $red-500;
        }
    }

    &.cancelar {
        &:hover {
            background-color: $transparent-white !important;
        }

        &::v-deep .v-ripple__animation,
        .v-progress-circular {
            color: $white;
        }
    }

    &.confirmar {
        &:hover {
            background-color: $transparent-cyan-600 !important;
        }

        &::v-deep .v-btn__content,
        &::v-deep .v-ripple__animation {
            color: $cyan-600;
        }
    }
}