// primárias
$azul-sesc: #004c99;
$cyan-600: #00ACC1;
$white: rgba(255,255,255,.9);
$black: #111a20;

// secundárias
$amarelo-sesc: #fcb71b;
$blue-gray-800: #37474F;
$blue-gray-900: #263238;
$cyan-800: #00838F;
$gray-300: #E0E0E0;
$gray-600: #757575;	

// apoio
$deep-purple-800: #4527A0;
$green-800: #2E7D32;
$light-green-500: #8BC34A;
$orange-700: #F57C00;	
$pink-500: #E91E63;
$purple-400: #AB47BC;
$red-500: #F44336;

//transparências
$transparent-cyan-600: rgba(0,172,193,.15);
$transparent-red-500: rgba(244,67,54,.15);
$transparent-white: rgba(255,255,255,.15);
$transparent: rgba(0,0,0,0);